on boot

# tdmb
    chown system system /dev/tdmb
    chmod 0660 /dev/tdmb


  # IPSec for VoLTE
    chown root system /dev/socket
    chmod 0775 /dev/socket


on fs

# tdmb
service dmb /system/bin/dmbserver
    class main
    user media
    group system radio inet misc audio camera graphics net_bt net_bt_admin sdcard_rw sdcard_r shell media_rw

#IPSec for VoLTE
    service ipsec-daemon /system/bin/IPSecService
    class main
    socket ipsec_socket stream 660 system system
    user system
    group system net_raw inet net_admin


